MARKTGURU_API_KEY=your_api_key_here
MARKTGURU_CLIENT_KEY=your_client_key_here
ZIP_CODE=68161
STORES=rewe,lidl,aldi-sued,kaufland

OPENROUTER_API_KEY=your_api_key_here
AI_MODEL=google/gemini-2.5-flash-lite

EMAIL_GOOGLE = your_sending_mail
EMAIL_PASSWORD = your_sending_mail_apppassword
EMAIL_RECIPTANT=[your_email_reciptant]

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_ALLOWED_USER=[123456789]

MIN_DISCOUNT_PERCENT=15
SCAN_INTERVAL_HOURS=48
SHOW_ALL_OFFERS=true

DEBUG_MODE=false
LOG_LEVEL=INFO